.images-cont {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 40px;
}

img {
    height: 400px;
    width: 400px;
}

.loading-cont {
    font-size: 50px;
    margin: 20px auto;
    color: black;
    display: none;
}

.show {
    display: block;
}